.heading{
    width: 100%;
    font-size: 25px;
    margin-top: 0px;
}

.note{
    font-size: 15px;
    color: black;
}

body{
    background-size: cover;
    font-family: monospace;
}

.div_speed{
    float: left;
}

.div_volume{
    float: right;
}

.speed_gif , .volume_gif{
    width: 200px;
    border-radius: 100%;
}

.div_heading{
    font-size: 23px;
    margin: 10px;
}

canvas{
    border: 4px solid white;
}